# Virtual environments
.venv/
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment & secrets
.env

# Local databases, backups, and dumps
db.sqlite3
db_backups/
*.sql
*.dump
datadump_*.json

# Static files & collected assets
staticfiles/

# Logs
logs/
*.log

# IDE & Editor settings
.idea/
.vscode/
